extends layout

block content
  .hero.text-center
    h1.mb-3.text-primary= title
    p.lead Welcome to the DevOps CI/CD Demo App!
    p This app demonstrates how to automate deployment using GitHub Actions and a simple Node.js + Express pipeline.
    hr
    p.text-muted Created with ❤️ by Shreyash for DevOps Internship Assessment
